@use "variables";

@mixin padding-margin($pad, $mar) {
  padding-left: $pad;
  padding-right: $pad;
  margin-top: $mar;
  margin-bottom: $mar;
}

body {
  font-family: variables.$main-font;
  color: variables.$main-color;
}

a:link, a:visited, a:hover, a:active {
  color: variables.$main-color;
}

nav {
  ul {
    list-style: none;
    padding: 0;
  }

  li {
    display: inline-block;
  }

  a {
    text-decoration: none;
  }
}

p {
  @include padding-margin(10px, 20px);
}

.message {
  border: 3px solid #ccc;
  padding: 10px;
  color: #333;
}

.status {
  @extend .message;
  border-color: green;
}

.error {
  @extend .message;
  border-color: red;
}
